<style>
		body {
			background-color: lightblue;
		}

		h1 {
			font-size: 90px;
			color: white;
			text-align: center;
		}

		p {
			font-family: arial;
			font-size: 20px;
		}
		
		a:link {
			text-decoration: underline;
			color: white;
			text-align: center;
		}
		
		img{
		
			border-radius: 8px;
			
		}
</style>